[Unit]
Description=ShanghaiTech Network Login Service for %I
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/shlogin cron /etc/shlogin/%i.toml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target